#introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(170, 170, 170, 0.5);
}

#introduction .intro-block {
    display: flex;
    width: 70%;
    margin: 16px;
    padding: 24px;
    padding-left: 40px;
    background-color: rgb(77, 77, 77);
    box-shadow: 0px 0px 15px 2px rgb(0, 0, 0);
    gap: 32px;
    border-radius: 10px;
}

#introduction .intro-block div.intro-text {
    width: 50%;
    color: rgb(255, 255, 255);
}
#introduction .intro-block div.intro-title {
    font-size: 48px;
    margin-bottom: 12px;
}
#introduction .intro-block div.intro-context {
    font-size: 28px;
    padding-left: 48px;
    text-align: justify;
    text-indent: 48px;
}

#introduction .intro-block img {
    width: 46%;
    height: auto;
    margin: auto 0px auto 0px;
    border-radius: 10px;
}
