#officers {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(31, 31, 31, 0.5);
    padding-bottom: 180px;
}

#officers .officers-title{
    margin: 24px;
    margin-bottom: 4px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 36px;
}

#officers .outer-block {
    width: 65%;
    height: 80%;
    margin: 16px;
    position: relative;
    overflow-x: hidden;
}
#officers .outer-block::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -20px;
    width: 20px;
    height: 100%;
    box-shadow: 10px 0px 8px -8px rgb(0, 0, 0);
}
#officers .outer-block::after {
    content: "";
    position: absolute;
    top: 0px;
    right: -20px;
    width: 20px;
    height: 100%;
    /* background-color: red; */
    box-shadow: -10px 0px 8px -8px rgb(0, 0, 0);
}

#officers .officers-block {
    display: flex;
    width: calc(100% - 32px);
    height: 360px;
    margin: 0px;
    padding: 0px 16px;
    overflow-x: scroll;
    gap: 16px;
}

#officers .person-block {
    height: calc(100% - 32px);
    margin: 16px 0px;
    display: flex;
    align-items: center;
    background-color: rgb(77, 77, 77);
    border-radius: 10px;
    box-shadow: 0px 0px 15px 2px rgb(0, 0, 0);
}

#officers .person-block .person-context {
    flex: 1;
    height: calc(100% - 32px);
    margin: 16px 24px;
    color: rgb(255, 255, 255);
}
#officers .person-block .person-context:nth-child(1){
    width: 400px;
}
#officers .person-block .person-context.sec {
    flex: 0;
}

#officers .person-block .person-hr {
    width: 0px;
    height: calc(100% - 32px);
    margin: 0px;
    border-style: solid;
    border-color: rgb(210, 210, 210, 0.7);
    border-width: 1px;
}

#officers .person-block .person-title {
    font-size: 36px;
}
#officers .person-block .person-text {
    font-size: 18px;
    text-indent: 36px;
    letter-spacing: 1px;
}

#officers .person-block img {
    flex: 1;
    width: auto;
    height: 100%;
    margin: 0px auto 0px auto;
    border-radius: 10px;
}