@import url(https://fonts.googleapis.com/css2?family=Oooh+Baby);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

html,
body {
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.font {
    font-family: 'Oooh Baby', cursive;
}

.cfont {
    font-family: 'Noto Sans TC', sans-serif;
}

.content {
    top: 0px;
    position: -webkit-sticky;
    position: sticky;
    background-color: rgb(31, 31, 31);
    height: 100vh;
    width: 100%;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(44, 44, 44, 0.4);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(77, 77, 77);
}
