<div class="top-bar-empty"></div>
<img src="static/img/logo.svg" onclick="scroll_to('title')"></img>
<div class="top-bar-title font" onclick="scroll_to('title')"><b>FRC 8584 - Infinity Robotics</b></div>
<div class="top-bar-empty-2"></div>
<div class="button-div cfont" onclick="scroll_to('home')"><div>首頁</div></div>
<div class="button-div cfont" onclick="scroll_to('vision')"><div>願景與期望</div></div>
<div class="button-div cfont" onclick="scroll_to('introduction')"><div>分工介紹</div></div>
<div class="button-div cfont" onclick="scroll_to('sponsor')"><div>贊助</div></div>
<div class="button-div cfont">
    <div class="first-option" onclick="scroll_to('officers')">歷年幹部</div>
    <div class="option" style="--index: 1" onclick="scroll_to('officers-2022')">2022</div>
</div>
<div class="button-div cfont"  onclick="scroll_to('contact')"><div>聯絡我們</div></div>