#sponsor {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

#sponsor .sponsor-title {
    color: rgb(0, 0, 0);
    font-size: 64px;
}

#sponsor .sponsor-content {
    font-size: 48px;
    color: rgb(0, 0, 0);
    margin: 48px;
}
