@import url("intro-img/img-1.css");
@import url("intro-img/img-2.css");
@import url("intro-img/img-3.css");
@import url("intro-img/img-4.css");

#intro {
    height: fit-content;
}

#intro > div {
    width: 60vw;
    margin: auto;
}

#intro .title {
    color: #FFF;
    font-size: 4vw;
    margin: 1vh auto 0 auto;
}
#intro.show .title {
    transition-delay: 0s;
}

#intro .sec-title {
    color: #CCCC;
    font-size: min(3vw, 4vh);
    margin-bottom: 2vh;
}
#intro.show .sec-title {
    transition-delay: 0.25s;
}

#intro .content-block {
    height: calc(9 * 59vw / 16 + 1vw);
}
#intro.show .content-block {
    transition-delay: 0s;
}

#intro .content-block .block {
    position: absolute;
    width: 29.5vw;
    height: calc(9 * 29.5vw / 16);
    border-radius: 0.75vw;
    overflow: hidden;
    background-color: #111A;
    opacity: 0%;
    transform: translateY(2vmax);
    pointer-events: none;
}
#intro.show .content-block .block {
    opacity: 100%;
    transform: translateY(0);
}
#intro.show.show-end .content-block .block {
    transition: opacity 0.75s, transform 0.75s, width 1s, height 1s, top 1s;
    pointer-events: initial;
}
#intro.show:not(.phone) .content-block .block:hover {
    width: 60vw;
    height: calc(9 * 59vw / 16 + 1vw);
}
#intro.show:not(.phone) .content-block:has(.block:hover) .block:not(:hover),
#intro.show .content-block:has(.block.expand) .block:not(.expand) {
    opacity: 0%;
    transform: translateY(2vmax);
    pointer-events: none;
}
#intro .content-block .block::before {
    content: "";
    position: absolute;
    width: 29.5vw;
    height: calc(9 * 29.5vw / 16);
    border-radius: 0.75vw;
    background: #333A;
    backdrop-filter: blur(6px);
    z-index: 1;
    transition-property: top, left, right, bottom, width, height, backdrop-filter, background-color;
    transition-duration: 0.75s;
    transition-timing-function: linear;
}
#intro:not(.phone) .content-block .block:hover::before,
#intro .content-block .block.expand::before {
    width: 28.5vw;
    height: calc(9 * 28.5vw / 16);
    background: #3330;
    backdrop-filter: blur(0);
}

#intro .content-block .block img {
    position: absolute;
    width: 29.5vw;
    height: calc(9 * 29.5vw / 16);
    border-radius: 0.75vw;
    overflow: hidden;
    object-fit: cover;
    transition-property: top, left, right, bottom, width, height;
    transition-duration: 0.75s;
    transition-timing-function: linear;
}
#intro:not(.phone) .content-block .block:hover img {
    width: 28.5vw;
    height: calc(9 * 28.5vw / 16);
}

#intro .content-block .block .name {
    position: absolute;
    width: 4em;
    height: 3vw;
    line-height: 3vw;
    text-align: center;
    color: #FFF;
    font-size: 3vw;
    z-index: 2;
    user-select: none;
    transition-property: top, left, right, bottom;
}
#intro:not(.phone) .content-block .block:hover .name,
#intro .content-block .block.expand .name {
    transition-duration: 0.8s;
    transition-timing-function: ease;
}

#intro .content-block .block .text {
    position: absolute;
    top: 4.5vw;
    left: 3vw;
    width: 26.25vw;
    color: #FFF;
    font-size: 1.5vw;
    opacity: 0%;
    text-align: justify;
    text-indent: 2em;
    transform: translateY(2em);
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    transition-delay: 0s;
}
#intro:not(.phone) .content-block .block:hover .text,
#intro .content-block .block.expand .text {
    opacity: 100%;
    transform: translateY(0);
    transition-duration: 1.5s;
    transition-delay: 0.25s;
}

@media (max-aspect-ratio: 1/1) {
    #intro > div {
        width: 90vw;
    }

    #intro .title {
        font-size: 13vw;
    }
    
    #intro .sec-title {
        margin: 0 auto 2vh auto;
        font-size: 6vw;
    }

    #intro .content-block {
        height: calc(9 * 90vw / 4 + 6vw);
    }

    #intro .content-block .block {
        animation: shadow-twinkle 2s linear infinite;
    }

    #intro .content-block .block,
    #intro .content-block .block::before,
    #intro .content-block .block img {
        width: 90vw;
        height: calc(9 * 90vw / 16);
        border-radius: 3vw;
    }

    #intro.show .content-block .block.expand {
        width: 90vw;
        height: calc(24 * 90vw / 16);
    }

    #intro .content-block .block .name {
        height: 4vh;
        line-height: 4vh;
        font-size: 4vh;
    }

    #intro.show .content-block .block img,
    #intro.show .content-block .block::before {
        top: 0 !important;
        left: 0 !important;
    }

    #intro .content-block .block.expand::before,
    #intro .content-block .block.expand img {
        top: 5.6vh !important;
        left: 2vh !important;
        width: calc(90vw - 4vh);
        height: calc(9 * (90vw - 4vh) / 16);
    }

    #intro .content-block .block .text {
        top: calc(9 * (90vw - 4vh) / 16 + 6.4vh);
        left: 2vh;
        width: calc(90vw - 4vh);
        font-size: 2vh;
    }
}

@keyframes shadow-twinkle {
    0% {
        box-shadow: 0 0 1vh 0 #DDD8;
    }

    40% {
        box-shadow: 0 0 1vh 0 #DDDD;
    }

    80% {
        box-shadow: 0 0 1vh 0 #DDD8;
    }
    
    100% {
        box-shadow: 0 0 1vh 0 #DDD8;
    }
}
