.officers {
    height: fit-content;
}

.officers > div {
    width: 60vw;
    margin: auto;
}

.officers .title {
    color: #FFF;
    font-size: 4vw;
    margin: 1vh auto 0 auto;
}
.officers.show .title {
    transition-delay: 0s;
}

.officers .sec-title {
    color: #CCCC;
    font-size: min(3vw, 4vh);
    margin-bottom: 1vh;
}
.officers.show .sec-title {
    transition-delay: 0.25s;
}

.officers .officers-content {
    position: relative;
    height: min(45vw, calc(80vh - 16px - 4vw - min(3vw, 4vh)));
}
.officers.show .officers-content {
    transition-delay: 0.5s;
}

.officers .officers-content .button-block {
    position: absolute;
    top: calc(50% - 0.5em);
    left: -1em;
    display: flex;
    justify-content: space-between;
    font-size: 4vh;
    height: 1em;
    width: calc(100% + 2em);
}
.officers .officers-content .button-block div {
    color: #FFF6;
    width: 1em;
    height: 1em;
    line-height: 1em;
    cursor: pointer;
    user-select: none;
    transition: color 0.5s;
}
.officers .officers-content .button-block div:hover {
    color: #FFF;
}

.officers .officers-content .dot-list {
    position: absolute;
    bottom: calc(1vw + 2px);
    left: calc(1vw - 0.5vh);
    display: flex;
    gap: 4px;
    width: calc(50% - 1vw);
    height: 6px;
    justify-content: center;
    align-items: center;
    z-index: 3;
    opacity: 0%;
    transform: translateY(2vmax);
    transition-property: opacity, transform;
    transition-duration: 0s;
    transition-delay: 0s;
}
.officers.show .officers-content .dot-list {
    opacity: 100%;
    transform: translateY(0);
    transition-duration: 1s;
    transition-delay: 0.75s;
}
.officers .officers-content .dot-list .dot {
    height: 6px;
    width: 6px;
    border-radius: 3px;
    background: #CCC6;
    transition: background-color 0.1s, width 0.3s;
}
.officers .officers-content .dot-list .dot.show {
    width: 8px;
    background: #CCCE;
}

.officers .officers-content .officer-block {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: 0%;
    overflow: hidden;
}
/* 後一個 */
.officers .officers-content .officer-block.display + .officer-block,
.officers .officers-content:has(.officer-block:last-of-type.display) .officer-block:nth-child(3),
/* 前一個 */
.officers .officers-content .officer-block:has(+.officer-block.display),
.officers .officers-content:has(.officer-block:nth-child(3).display) .officer-block:last-of-type {
    opacity: 0%;
    z-index: 1;
    transition: opacity 0s 0.5s;
}
.officers .officers-content .officer-block.display {
    opacity: 100%;
    z-index: 2;
    transition: opacity 0s;
}

@media (max-aspect-ratio: 1/1) {
    .officers > div {
        width: 90vw;
        margin: auto;
    }

    .officers .title {
        font-size: 10vw;
    }

    .officers .sec-title {
        font-size: 6vw;
    }

    .officers .officers-content {
        height: calc(87vh - 30vw - 16px);
    }

    .officers .officers-content .button-block {
        top: calc(30% - 0.5em + 1vw);
        left: 0;
        width: 100%;
        z-index: 3;
    }

    .officers .officers-content .dot-list {
        position: absolute;
        width: 100%;
        bottom: calc(40% + 1vw + 2px);
    }
}
