<div class="officers-title cfont">歷年幹部-2022</div>
<div id="officers-2022" class="outer-block">
    <div class="officers-block">
        <div class="person-block">
            <div class="person-context">
                <div class="person-title cfont">結構組長-高尾山</div>
                <div class="person-text cfont">哈哈我是結構組長啦哈哈。</div>
            </div>
            <hr class="person-hr">
            <div class="person-context sec">
                <img src="static/img/officers/2022/SEIP8165.jpg" class="person-img">
            </div>
        </div>
        <div class="person-block">
            <div class="person-context">
                <div class="person-title cfont">結構組長-高尾山</div>
                <div class="person-text cfont">哈哈我是結構組長啦哈哈。</div>
            </div>
            <hr class="person-hr">
            <div class="person-context sec">
                <img src="static/img/officers/2022/SEIP8165.jpg" class="person-img">
            </div>
        </div>
        <div class="person-block">
            <div class="person-context">
                <div class="person-title cfont">結構組長-高尾山</div>
                <div class="person-text cfont">哈哈我是結構組長啦哈哈。</div>
            </div>
            <hr class="person-hr">
            <div class="person-context sec">
                <img src="static/img/officers/2022/SEIP8165.jpg" class="person-img">
            </div>
        </div>
        <div class="person-block">
            <div class="person-context">
                <div class="person-title cfont">結構組長-高尾山</div>
                <div class="person-text cfont">哈哈我是結構組長啦哈哈。</div>
            </div>
            <hr class="person-hr">
            <div class="person-context sec">
                <img src="static/img/officers/2022/SEIP8165.jpg" class="person-img">
            </div>
        </div>
    </div>
</div>
