@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

* {
    font-family: "Noto Sans TC", sans-serif;
}

.ms-o {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48
}

body,
html {
    margin: 0;
    height: 100%;
}

html {
    background: #222;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

.content {
    position: sticky;
    width: 100vw;
    min-height: 100vh;
    background: #222A;
    box-shadow: 0 0 10px 1px #0008;
}
