@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

* {
    font-family: "Noto Sans TC", sans-serif;
}

.ms-o {
    font-family: "Material Symbols Outlined";
    font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 48
}

html,
body {
    margin: 0;
    height: 100%;
}

html {
    background: #222;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

* {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.content {
    position: sticky;
    width: 100vw;
    padding: calc(5vh + 16px) 0;
    min-height: calc(90vh - 32px);
    background: #1118;
    box-shadow: 0 0 10px 1px #0008;
    top: calc(1px * var(--top));
    filter: blur(min(10px, calc(1px * (var(--y) - var(--b-pos)) / 80 - 0.25vh)));
    transition: filter 0.1s, top 5s;
}

.content > * {
    opacity: 0%;
    transform: translateY(2vmax);
    transition-property: opacity, transform;
}
.content:not(.show) > * {
    transition-duration: 0s;
    transition-delay: 0s;
}
.content.show > * {
    opacity: 100%;
    transform: translateY(0);
    transition-duration: 1s;
}