<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <link rel="icon" href="../static/img/favicon.ico">
        <link rel="stylesheet" href="../static/css/global.css">
        <link rel="stylesheet" href="../static/css/index.css">
        <link rel="stylesheet" href="../static/css/top-bar.css">
        <link rel="stylesheet" href="../static/css/home.css">
        <link rel="stylesheet" href="../static/css/vision.css">
        <link rel="stylesheet" href="../static/css/introduction.css">
        <link rel="stylesheet" href="../static/css/sponsor.css">
        <link rel="stylesheet" href="../static/css/officers.css">
        <link rel="stylesheet" href="../static/css/contact.css">
        <script src="../static/js/include-html.js"></script>
        <script src="../static/js/index.js"></script>
        <script src="../static/js/top-bar.js"></script>
        <title>FRC 8584 - Infinity Robotics</title>
    </head>
    <body onscroll="scroll_change()">
        <ih id="top-bar" include-html="top-bar.html" style="--trans: 0"></ih>
        <img class="title-img" src="../static/img/title_page.jpg">
        <ih class="content" id="home"></ih>
        <ih class="content" id="vision"></ih>
        <ih class="content" id="introduction"></ih>
        <ih class="content" id="sponsor"></ih>
        <!-- <ih class="content" id="officers" style="height: 500px;"></ih>
        <ih class="content" id="contact" style="height: 500px;"></ih> -->
    </body>
    <script>
        includeHTML();
        index_onload();
        scroll_change();
    </script>
</html>